@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 200, 27%, 96%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 251, 90%, 64%;
    --primary-foreground: 210 40% 98%;

    --secondary: 0, 0%, 0%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 233, 58%, 58%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 225 21% 15%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 251, 90%, 64%;
    --primary-foreground: 0, 0%, 100%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 0 0% 94%;
    --input: 217.2 32.6% 17.5%;
    --ring: 233, 58%, 58%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

body {
  background-color: #f1f5f7;
}

/* Add this to your CSS file or styles section */
:root {
  --sidebar-width: 12rem; /* Set your desired sidebar width */
}

.table-container {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.blackOverlay {
  background-color: rgba(0, 0, 0, 0.4);
}

.whiteOverlay {
  background-color: rgba(71, 70, 70, 0.7);
}

.hide-scrollbar {
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

.hide-scrollbar::-webkit-scrollbar {
  width: 0px; /* For Chrome, Safari, and Opera */
}

.scroll-container {
  transition: transform 0.3s ease;
}

@layer utilities {
  .my_shadow {
    box-shadow: 0px 0px 5px rgb(185, 185, 185);
  }

  .my_shadow_dark {
    box-shadow: 0px 0px 5px rgb(35, 35, 35);
  }
}

@font-face {
  font-family: "IranSans";
  src: url("../public/fonts/IRANSansX-4-Regular.woff2") format("woff2");
}
