@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-5xl font-bold;
  }
  h2 {
    @apply text-4xl font-semibold;
  }
  h3 {
    @apply text-3xl font-semibold;
  }
  h4 {
    @apply text-2xl font-semibold;
  }
}

@font-face {
  font-family: "IranSans";
  src: url("../../public/fonts/IRANSansX-4-Regular.woff2") format("woff2");
}

body {
  font-family: IranSans;
}

.rtl-text-field .MuiInputLabel-root {
  direction: rtl;
}

.rtl-text-field .MuiInputBase-input {
  direction: rtl;
}