@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: VazirFont;
  src: url(./assets/fonts/Vazirmatn-Regular.ttf);
}

@font-face {
  font-family: Roboto;
  src: url(./assets/fonts/Roboto-Bold.ttf);
}

body {
  font-family: VazirFont;
  background-color: #fafbfb;
}
